.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  padding-top: clamp(0.625rem, 0.089rem + 2.68vw, 2.5rem);
  padding-bottom: clamp(0.625rem, 0.089rem + 2.68vw, 2.5rem);
}
.nav__logo {
  align-self: center;
}

.nav-btn {
  position: relative;
  display: none;
  z-index: 10;


  @include tablet() {
    display: block;
  }
}